---

- name: install packages
  become: true
  apt:
    name: [git, build-essential, curl, openssl, libssl-dev]
    state: latest
    update_cache: yes


- name: clone repos
  shell: "chdir=/home/ubuntu/ {{ item }}"
  with_items:
    - git clone https://github.com/omarelsheekh/Udacity-DevOps-Proj3
    - curl -fsSL https://deb.nodesource.com/setup_13.x | sudo -E bash -
  

- name: install node
  become: true
  apt:
    name: nodejs
    state: latest

- name: installing dependencies
  shell: "chdir=/home/ubuntu/Udacity-DevOps-Proj3/backend/ {{ item }}"
  with_items:
    - npm install 
    - sudo npm install pm2 -g

# - name: migrate the db
#   shell: "chdir=/home/ubuntu/Udacity-DevOps-Proj3/backend/ npm run migrations"

- name: run the app
  shell: "chdir=/home/ubuntu/Udacity-DevOps-Proj3/backend/ {{ item }}"
  with_items:
  - npm run build
  - pm2 start npm --name backend -- start
  # async: 9999999999
  # poll: 0