- name: "download node exporter."
  unarchive:
    src: https://github.com/prometheus/node_exporter/releases/download/v1.1.1/node_exporter-1.1.1.linux-amd64.tar.gz
    dest: "~"
    remote_src: yes

- name: run node exporter
  shell: "chdir=~/node_exporter-1.1.1.linux-amd64/ ./node_exporter"
  async: 9999999999
  poll: 0